{% extends 'ugas_pilates/base.html' %} {% load static %} {% block content %}
<div id="blog" class="padding main-content p-5 m-5">
  <h1 class="text-center">Blog page</h1>

  <div class="container text-center mt-5">
    <div class="row justify-content-center">
      <div class="col-12 col-md-3 p-3 d-flex justify-content-center">
        <div class="card" style="width: 18rem">
          <img
            src="{% static 'ugas_pilates/images/nirun.jpg' %}"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text">
              This is a story about some kind of pilates subject. For example
              discussing in depth a certain exercise.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3 p-3 d-flex justify-content-center">
        <div class="card" style="width: 18rem">
          <img
            src="{% static 'ugas_pilates/images/nirun.jpg' %}"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text">
              This is a story about some kind of pilates subject. For example
              discussing in depth a certain exercise.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3 p-3 d-flex justify-content-center">
        <div class="card" style="width: 18rem">
          <img
            src="{% static 'ugas_pilates/images/nirun.jpg' %}"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text">
              This is a story about some kind of pilates subject. For example
              discussing in depth a certain exercise.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3 p-3 d-flex justify-content-center">
        <div class="card" style="width: 18rem">
          <img
            src="{% static 'ugas_pilates/images/nirun.jpg' %}"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text">
              This is a story about some kind of pilates subject. For example
              discussing in depth a certain exercise.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-md-3 p-3 d-flex justify-content-center">
        <div class="card" style="width: 18rem">
          <img
            src="{% static 'ugas_pilates/images/nirun.jpg' %}"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text">
              This is a story about some kind of pilates subject. For example
              discussing in depth a certain exercise.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3 p-3 d-flex justify-content-center">
        <div class="card" style="width: 18rem">
          <img
            src="{% static 'ugas_pilates/images/nirun.jpg' %}"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text">
              This is a story about some kind of pilates subject. For example
              discussing in depth a certain exercise.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3 p-3 d-flex justify-content-center">
        <div class="card" style="width: 18rem">
          <img
            src="{% static 'ugas_pilates/images/nirun.jpg' %}"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text">
              This is a story about some kind of pilates subject. For example
              discussing in depth a certain exercise.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3 p-3 d-flex justify-content-center">
        <div class="card" style="width: 18rem">
          <img
            src="{% static 'ugas_pilates/images/nirun.jpg' %}"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text">
              This is a story about some kind of pilates subject. For example
              discussing in depth a certain exercise.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
