{% extends 'ugas_pilates/base.html' %}
{% load static %}

{% block content %}
<div id="pricing" class="padding main-content p-5 m-5">
  <div class="container mt-5">
    <div class="row">
      <div class="col-sm-12">
        <img class="" src="{% static 'ugas_pilates/images/map.png' %}" alt="Uga's Pilates on the map.">
      </div>
      <!-- <div class="col-sm-6"> -->
        <h4 class="mt-5">Address:</h4>
        <p>Augustijnslei 295</p>
        <p>2930 Brasschaaat</p>
        <p>Belgium</p>
        <p>E-mail: ugana@ugaspilates.com</p>
        <p>Phone: +32(0)470 12 85 13</p>
      <!-- </div> -->
    </div>
  </div>
</div>
{% endblock content %}
