{% extends 'ugas_pilates/base.html' %}
{% load static %}

{% block content %}
<div id="contact" class="py-5 px-md-5 m-md-5 mt-5">
  <div class="container mt-5">
    <h1 class="display-2 mt-5 text-center">Get in Touch!</h1>
    <div class="row text-center">
      <div class="col-12 col-md-4 gy-5">
        <h2 class="">Visit us:</h2>
        <address class=""></address>
        Augustijnslei 295
        <br />
        2930 Brasschaaat
        <br />
        Belgium
      </div>
      <div class="col-12 col-md-4 gy-5">
        <h2>E-mail us:</h2>
        <a href="mailto: ugana82@yahoo.de">ugana@uganaspilates.com</a>
      </div>
      <div class="col-12 col-md-4 gy-5">
        <h2>Call us:</h2>
        <p>+32 470 128513</p>
      </div>
    </div>
    <div class="ratio ratio-21x9 mt-3">
      <iframe
        class="rounded"
        width=""
        height=""
        style="border: 0"
        loading="lazy"
        allowfullscreen
        src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJh6PvydQHxEcRrH5_EjH2WuY&key=AIzaSyCh9Be3wIUC_9nrIciDrWrLemMcYdiPLCM"
      ></iframe>
    </div>
  </div>
</div>
{% endblock content %}
