{% extends 'ugas_pilates/base.html' %} {% load static %} {% block title %}
<title>{{ title }} | {{ heading }}</title>
<link
  rel="icon"
  type="image/svg+xml"
  href="{% static 'ugas_pilates/images/logo-primary-altlight-outline.svgj' %}"
/>
{% endblock %}

{% block landing %}
<!-- LANDING -->
<div id="landing">
  <div class="bg-image d-flex">
    <div class="bg-overlay"></div>
  </div>
</div>
{% endblock landing %}

{% block nav_id %}home-nav{% endblock nav_id %}

{% block toggler_theme %}dark{% endblock toggler_theme %}

{% block content %}
<!-- Text on top of background image -->
<div class="container vh-100 position-relative">
  <div id="hero" class="row h-auto">
    <div class="col text-center text-md-start">
      <h1 class="display-2 m-2 text-altlight opacity-75">Uga's Pilates</h1>
      <h6 class="display-5 m-1 text-secondary">{{ heading }}</h6>
      <a
        href="{% url 'contact' %}"
        class="btn btn-primary btn-lg m-4 fw-lighter"
      >
        Book a Session
      </a>
    </div>
    {% comment %} <div class="col col-lg-4"></div> {% endcomment %}
  </div>
</div>

<!-- STUDIO -->
<section id="studio" class="bg-white py-5">
  <div class="container-md">
    <div class="row justify-content-center align-items-center">
      <div class="col col-md-6">
        <img
          class="img-fluid rounded"
          src="{% static 'ugas_pilates/images/studio.jpg' %}"
          alt="Studio"
        />
      </div>
      <div class="col-md-6 text-center text-md-start">
        <h2 class="display-2">True Pilates</h2>
        <h6 class="display-6 text-muted">True to Your Core</h6>
        <p class="lead my-4 text-muted">
          Experience the transformative power of authentic Pilates. Strengthen
          your core, improve flexibility, and enhance your overall well-being
          with expert-led classes.
        </p>
        <a href="{% url 'schedule' %}" class="btn btn-primary btn-lg">
          Book a session
        </a>
      </div>
    </div>
    {% comment %}
    <div class="col-10 col-md-5 p-5 p-md-0 text-center d-md-block"></div>
    {% endcomment %}
  </div>
</section>

<!-- INSTRUCTORS -->
<section id="instructors"></section>

<!-- TESTIMONIALS -->
<section id="testimonials"></section>

<!-- FAQ -->
<section id="faq"></section>

<!-- BLOG -->
<section id="blog"></section>

<!-- SCHEDULE -->
<section id="schedule"></section>

<!-- PRICING -->
<section id="pricing"></section>

<!-- CONTACT -->
<section id="contact"></section>

{% endblock content %} {% block toggler_script %}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const navbar = document.querySelector('.navbar-custom');

    window.addEventListener('scroll', function () {
      if (window.scrollY > 10) {
        navbar.setAttribute('data-bs-theme', 'light');
        navbar.classList.add('scrolled');
      } else {
        navbar.setAttribute('data-bs-theme', 'dark');
        navbar.classList.remove('scrolled');
      }
    });
  });
</script>
{% endblock toggler_script %}
