{% extends 'ugas_pilates/base.html' %}
{% load static %}

{% block landing %}
<!-- LANDING -->
<div id="landing">
  <div class="bg-image d-flex justify-content-center align-items-center">
    <div class="bg-overlay"></div>
  </div>
</div>
{% endblock landing %}

{% block nav_id %}home-nav{% endblock nav_id %}

{% block toggler_theme %}dark{% endblock toggler_theme %}

{% block content %}
<!-- Text on top of background image -->
<div
  class="min-vh-100 position-relative container-fluid d-flex justify-content-center"
  id="hero"
>
  <div class="content text-center position-absolute top-50">
    <h1 class="display-2 m-2 text-altlight opacity-50">Uga's Pilates</h1>
    {% comment %}
    <h5 class="display-5 m-1 text-secondary">True pilates</h5>
    {% endcomment %}
    <h6 class="display-5 m-1 text-secondary">Getting to your core</h6>
    <a
      href="{% url 'schedule' %}"
      class="btn btn-altdark btn-lg m-4 fw-lighter"
    >
      Book a Session
    </a>
  </div>
</div>

<!-- STUDIO -->
<section id="studio" class="bg-altlight py-5">
  <div class="container-lg">
    <div class="row justify-content-center align-items-center">
      <div class="col col-8"></div>
      <div class="col-md-5 text-center text-md-start">
        <h1>
          <div class="display-2">True Pilates</div>
          <div class="display-5 text-muted">True to Your Core</div>
        </h1>
        <img
          class="img-fluid rounded"
          src="{% static 'ugas_pilates/images/studio.jpg' %}"
          alt="Studio"
        />
        <p class="lead my-4 text-muted">
          Experience the transformative power of authentic Pilates. Strengthen
          your core, improve flexibility, and enhance your overall well-being
          with expert-led classes.
        </p>
        <a
          href="{% url 'schedule' %}"
          class="btn btn-outline-altprimary btn-lg"
        >
          Book a session
        </a>
        <div class="col-10 col-md-5 p-5 p-md-0 text-center d-md-block"></div>
      </div>
    </div>
  </div>
</section>

<!-- INSTRUCTORS -->
<section id="instructors"></section>

<!-- TESTIMONIALS -->
<section id="testimonials"></section>

<!-- FAQ -->
<section id="faq"></section>

<!-- BLOG -->
<section id="blog"></section>

<!-- SCHEDULE -->
<section id="schedule"></section>

<!-- PRICING -->
<section id="pricing"></section>

<!-- CONTACT -->
<section id="contact"></section>

{% endblock content %}

{% block toggler_script %}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const navbar = document.querySelector('.navbar-custom');

    window.addEventListener('scroll', function () {
      if (window.scrollY > 10) {
        navbar.setAttribute('data-bs-theme', 'light');
        navbar.classList.add('scrolled');
      } else {
        navbar.setAttribute('data-bs-theme', 'dark');
        navbar.classList.remove('scrolled');
      }
    });
  });
</script>
{% endblock toggler_script %}
