{% extends 'ugas_pilates/base.html' %}
{% load static %}

{% block content %}
<div id="instructors" class="main-content p-5 m-5">

  <h2 class="text-center mt-5 display-2">Meet Our Instructors</h2>

  <div class="container mt-5">
    <div class="row mb-5">
      <div class="clearfix">
        <h3 class="display-4 mb-5 text-center">Ugana Maidarjav</h3>
        <img class="col-12 col-sm-6 mx-sm-auto d-block float-md-end col-lg-4 ms-md-3 mb-3 rounded"
          src="{% static 'ugas_pilates/images/uga.jpg' %}" alt="Ugana Maidarjav">
          <p class="">
            Meet Ugana, a passionate and highly experienced Pilates instructor who brings a unique
            blend of artistic flair and meticulous discipline to her practice. Born in Khovd, Mongolia, Ugana began
            her
            journey as a contortionist, honing her skills from a young age. Her career as a performance artist took
            her
            across the globe, allowing her to share her talent and dedication with audiences worldwide.
            <br><br>
            With a background in hospitality and performance, Ugana has a deep appreciation for customer service and a
            keen eye for detail. She transitioned to yoga after the birth of her twin girls and completed her RYT200
            training at Global Yoga Shala in France. Now, she combines her extensive knowledge of body movement and
            her
            passion for wellness to guide her clients towards a stronger core and improved flexibility through
            authentic
            Pilates practice.
            <br><br>
            Join Ugana at Uga's Pilates and experience the transformative power of her expertise and dedication.
            Whether
            you're a beginner or an experienced practitioner, Ugana's classes will inspire and challenge you, helping
            you achieve your fitness goals and enhance your overall well-being.
          </p>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="clearfix">
        <h3 class="display-4 mb-5 text-center">Anna Rubau</h3>
        <img class="col-12 col-sm-6 mx-sm-auto d-block float-md-start col-lg-4 me-md-3 mb-3 rounded"
          src="{% static 'ugas_pilates/images/anna.jpg' %}" alt="Anna Rubau">
          <p class="">
            Anna Rubau is Spaanse en afkomstig uit Gerona. Vanaf haar jeugdjaren is ze al
              gepassioneerd door de dans. Het is haar eerste grote liefde...
              Ze is jong en ze vertrekt naar Parijs. Ze danst in verschillende projecten, o.a. in de musical “Cats” en
              bij
              Roland Petit.
              Door haar harde werk, haar extreme discipline en haar doorzettingsvermogen bereikt ze haar droom. Ze wordt
              opgenomen in het balletgezelschap van Maurice Béjart.
              <br><br>
              Ze is 22 jaar oud. “Drama en Geluk”… in een generale repetitie bij een “jetté en l'air” vangt haar
              danspartner haar slecht op, ze valt en ze breekt haar schouder.
              <br><br>
              Tijdens de revalidatieperiode denkt ze: “Dit is het einde van mijn artistieke carrière”. “De regisseur
              wilde
              haar binnen de vier maanden terug op het podium”. Ze beseft als geen ander dat ze met die revalidatie
              nooit
              op tijd zal klaar geraken.
          </p>
        </div>
      </div>
    </div>
</div>

</div>
{% endblock content %}
