{% extends 'ugas_pilates/base.html' %} {% load static %} {% block content %}
<div id="instructors" class="">
  <h2 class="text-center display-2 my-4">Meet Your Instructor</h2>

  <div class="container-md">
    <div class="row mb-5">
      <div class="clearfix">
        <h3 class="display-4 text-center">Ugana Maidarjav</h3>
        <img
          class="col-12 col-sm-6 mx-sm-auto d-block float-md-end col-lg-4 ms-md-3 mb-3 rounded"
          src="{% static 'ugas_pilates/images/UgaMountainPose.jpg' %}"
          alt="Ugana Maidarjav"
        />
        <p class="">
          Meet Ugana, a passionate and highly experienced Pilates instructor who
          brings a unique blend of artistic flair and meticulous discipline to
          her practice. Born in Khovd, Mongolia, Ugana began her journey as a
          contortionist, honing her skills from a young age. Her career as a
          performance artist took her across the globe, allowing her to share
          her talent and dedication with audiences worldwide.
          <br />
          <br />
          With a background in hospitality and performance, Ugana has a deep
          appreciation for customer service and a keen eye for detail. She
          transitioned to yoga after the birth of her twin girls and completed
          her RYT200 training at Global Yoga Shala in France. Now, she combines
          her extensive knowledge of body movement and her passion for wellness
          to guide her clients towards a stronger core and improved flexibility
          through authentic Pilates practice.
          <br />
          <br />
          Join Ugana at Uga's Pilates and experience the transformative power of
          her expertise and dedication. Whether you're a beginner or an
          experienced practitioner, Ugana's classes will inspire and challenge
          you, helping you achieve your fitness goals and enhance your overall
          well-being.
        </p>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="clearfix">
        <h3 class="display-4 text-center">Anna Rubau</h3>
        <img
          class="col-12 col-sm-6 mx-sm-auto d-block float-md-start col-lg-4 me-md-3 mb-3 rounded"
          src="{% static 'ugas_pilates/images/anna.jpg' %}"
          alt="Anna Rubau"
        />
        <p class="">
          Anna Rubau is Spanish, originally from Gerona. She has been passionate
          about dance since her childhood; it is her first great love. While
          still young, she moves to Paris, where she dances in various projects,
          including the musical “Cats” and with Roland Petit. Through her hard
          work, extreme discipline, and perseverance, she achieves her dream of
          joining Maurice Béjart's ballet company.
          <br />
          <br />
          At 22 years old, during a dress rehearsal, her partner mishandles a
          "jeté en l'air," causing her to fall and break her shoulder.
          <br />
          <br />
          During her rehabilitation, she thinks, "This is the end of my artistic
          career." The director wanted her back on stage within four months, but
          she knows she will never be ready in time.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
