{% extends 'ugas_pilates/base.html' %}
{% load static %}

{% block content %}
<div id="pricing" class="padding main-content p-5 m-5">
    <h1 class="text-center p5">Pricing page</h1>
    <div class="container mt-5">
      <ul class="list-group mb-5">
        <li class="list-group-item">This is the price for your class $1.000,00</li>
        <li class="list-group-item">This is the price for your class $1.000,00</li>
        <li class="list-group-item">This is the price for your class $1.000,00</li>
        <li class="list-group-item">This is the price for your class $1.000,00</li>
        <li class="list-group-item">This is the price for your class $1.000,00</li>
        <li class="list-group-item">This is the price for your class $1.000,00</li>
        <li class="list-group-item">This is the price for your class $1.000,00</li>
        <li class="list-group-item">This is the price for your class $1.000,00</li>
        <li class="list-group-item">This is the price for your class $1.000,00</li>
        <li class="list-group-item">This is the price for your class $1.000,00</li>
      </ul>
    </div>
</div>
{% endblock content %}
