{% extends 'ugas_pilates/base.html' %} {% load static %} {% block content %}
<div id="pricing" class="padding main-content py-5 px-sm-5 mx-md-5 m-5">
  <h2 class="text-center mt-5 display-2">Your Value</h2>

  <div class="container">
    <div class="row">
      <div id="solo" class="col col-12 col-lg-6">
        <h6 class="display-6">Solo Sessions</h6>
        <table class="table">
          <tbody>
            <tr>
              <td>1 Session</td>
              <td>€ 20</td>
            </tr>
            <tr>
              <td>10 Sessions</td>
              <td>€ 180</td>
            </tr>
            <tr>
              <td>25 Sessions</td>
              <td>€ 400</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="private" class="col col-12 col-lg-6">
        <h6 class="display-6">Personal Training</h6>
        <table class="table">
          <tbody>
            <tr>
              <td>1 Personal Session</td>
              <td>€ 70</td>
            </tr>
            <tr>
              <td>1 Duo Session</td>
              <td>€ 45 p.p.</td>
            </tr>
            <tr>
              <td>10 Sessions</td>
              <td>€ 630</td>
            </tr>
            <tr>
              <td>25 Sessions</td>
              <td>€ 1400</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="class" class="col col-12 col-lg-6">
        <h6 class="display-6">Group Class</h6>
        <table class="table">
          <tbody>
            <tr>
              <td>1 Mat Class</td>
              <td>€ 20</td>
            </tr>
            <tr>
              <td>10 Classes</td>
              <td>€ 180</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="offers" class="col col-12 col-lg-6">
        <h6 class="display-6">Offers</h6>
        <table class="table">
          <tbody>
            <tr>
              <td>Membership</td>
              <td>€ 400 / Month</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
