{% extends 'ugas_pilates/base.html' %} {% load static %} {% block content %}
<div id="pricing" class="padding main-content py-5 px-sm-5 mx-md-5 m-5">
  <h2 class="text-center my-5 display-2">Your Value</h2>

  {% comment %} <div class="container"> {% endcomment %}
    <div class="row gx-5 gy-3">
      <div id="solo" class="col col-12 col-lg-6">
        <h6 class="display-6">Solo Sessions</h6>
        <table class="table">
          <tbody>
            <tr>
              <td>1 Session</td>
              <td class="text-end">€ 20</td>
            </tr>
            <tr>
              <td>10 Sessions</td>
              <td class="text-end">€ 180</td>
            </tr>
            <tr>
              <td>25 Sessions</td>
              <td class="text-end">€ 400</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="private" class="col col-12 col-lg-6">
        <h6 class="display-6">Personal Training</h6>
        <table class="table">
          <tbody>
            <tr>
              <td>1 Personal Session</td>
              <td class="text-end">€ 70</td>
            </tr>
            <tr>
              <td>1 Duo Session</td>
              <td class="text-end">€ 45 p.p.</td>
            </tr>
            <tr>
              <td>10 Sessions</td>
              <td class="text-end">€ 630</td>
            </tr>
            <tr>
              <td>25 Sessions</td>
              <td class="text-end">€ 1400</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="class" class="col col-12 col-lg-6">
        <h6 class="display-6">Group Classes</h6>
        <table class="table">
          <tbody>
            <tr>
              <td>1 Mat Class</td>
              <td class="text-end">€ 20</td>
            </tr>
            <tr>
              <td>10 Mat Classes</td>
              <td class="text-end">€ 180</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="offers" class="col col-12 col-lg-6">
        <h6 class="display-6">Offers</h6>
        <table class="table">
          <tbody>
            <tr>
              <td>Membership</td>
              <td class="text-end">€ 200 / Month</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  {% comment %} </div> {% endcomment %}
</div>
{% endblock content %}
