{% extends "ugas_pilates/base.html" %}
{% load static %}

{% block content %}
<div id="privacy" class="pb-5">
  <h2 class="display-2 text-center my-4">Privacy Policy</h2>

  <div class="container-md">
    <ol>
    <li class="text-decoration-underline">Introduction:</li>
    <p>
      "We value your privacy and are committed to protecting your personal
      information. This privacy policy explains how we collect, use, and share
      your data."
    </p>

    <li class="text-decoration-underline">Information Collection:</li>
    <p>
      "We only collect information you provide directly to us, such as your
      name, email address, and phone number.
    </p>

    <li class="text-decoration-underline">Use of Information:</li>
    <p>
      "We use your information to provide and improve our services, communicate
      with you, and personalize your experience."
    </p>

    <li class="text-decoration-underline">Sharing of Information:</li>
    <p>
      "We do not share your personal information with third parties except to
      comply with legal obligations, or with your consent."
    </p>

    <li class="text-decoration-underline">Data Security:</li>
    <p>
      "We implement security measures to protect your data, including encryption
      and access controls. However, no method of transmission over the internet
      is 100% secure."
    </p>

    <li class="text-decoration-underline">User Rights and Choices:</li>
    <p>
      "You have the right to access, update, or delete your personal
      information. Contact us at
      <a href="mailto: ugana82@yahoo.de">ugana@uganaspilates.com</a>
      to exercise these rights."
    </p>

    <li class="text-decoration-underline">Cookies and Tracking Technologies:</li>
    <p>
      "We use cookies to enhance your experience. You can control cookie
      settings through your browser."
    </p>

    <li class="text-decoration-underline">Third-Party Links:</li>
    <p>
      "Our website may contain links to third-party sites. We are not
      responsible for their privacy practices."
    </p>

    <li class="text-decoration-underline">Children's Privacy:</li>
    <p>
      "We do not knowingly collect personal information from children under 13.
      If we learn that we have collected such information, we will delete it."
    </p>

    <li class="text-decoration-underline">International Data Transfers:</li>
    <p>
      "We do not share your personal information with third parties except to
      comply with legal obligations, or with your consent."
    </p>

    <li class="text-decoration-underline">Changes to the Privacy Policy:</li>
    <p>
      "We may update this policy. We will notify you of any changes by posting
      the new policy on our website. This policy is effective as of Wednesday,
      03 July 2024."
    </p>

    <li class="text-decoration-underline">Contact Information:</li>
    <p>
      "If you have any questions about this policy, please contact us at
      <a href="mailto: ugana82@yahoo.de">ugana@uganaspilates.com</a>
      ."
    </p>
  </ol>
  </div>
</div>
{% endblock content %}
