{% extends "ugas_pilates/base.html" %}

{% block content %}
<div id="privacy" class="main-content p-5 m-5">
  <h1 class="text-center mt-5">Privacy Policy</h1>

  <div class="container mt-5">
    <h6>Introduction:</h6>
    <p>"We value your privacy and are committed to protecting your personal information. This privacy policy explains
      how we collect, use, and share your data."</p>

    <h6>Information Collection:</h6>
    <p>"We only collect information you provide directly to us, such as your name, email address, and phone number.</p>

    <h6>Use of Information:</h6>
    <p>"We use your information to provide and improve our services, communicate with you, and personalize your
      experience."</p>

    <h6>Sharing of Information:</h6>
    <p>"We do not share your personal information with third parties except to comply with legal obligations, or with
      your consent."</p>

    <h6>Data Security:</h6>
    <p>"We implement security measures to protect your data, including encryption and access controls. However, no
      method of transmission over the internet is 100% secure."</p>

    <h6>User Rights and Choices:</h6>
    <p>"You have the right to access, update, or delete your personal information. Contact us at <a
        href="mailto: ugana82@yahoo.de">ugana@uganaspilates.com</a> to exercise these rights."</p>

    <h6>Cookies and Tracking Technologies:</h6>
    <p>"We use cookies to enhance your experience. You can control cookie settings through your browser."</p>

    <h6>Third-Party Links:</h6>
    <p>"Our website may contain links to third-party sites. We are not responsible for their privacy practices."</p>

    <h6>Children's Privacy:</h6>
    <p>"We do not knowingly collect personal information from children under 13. If we learn that we have collected such
      information, we will delete it."</p>

    <h6>International Data Transfers:</h6>
    <p>"We do not share your personal information with third parties except to comply with legal obligations, or with
      your consent."</p>

    <h6>Changes to the Privacy Policy:</h6>
    <p>"We may update this policy. We will notify you of any changes by posting the new policy on our website. This
      policy is effective as of Wednesday, 03 July 2024."</p>

    <h6>Contact Information:</h6>
    <p>"If you have any questions about this policy, please contact us at <a
        href="mailto: ugana82@yahoo.de">ugana@uganaspilates.com</a>."</p>
  </div>
</div>
{% endblock content %}
