{% extends 'ugas_pilates/base.html' %}

{% block content %}
<div id="schedule" class="">

  <h2 class="display-2 text-center my-4">Schedule</h2>

  <div class="container table-responsive">
    <table class="table overflow-x-scroll text-nowrap">
      <thead>
        <tr>
          <th scope="col">Time</th>
          <th scope="col">Monday</th>
          <th scope="col">Tuesday</th>
          <th scope="col">Wednesday</th>
          <th scope="col">Thursday</th>
          <th scope="col">Friday</th>
          <th scope="col">Saturday</th>
          <th scope="col">Sunday</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">08:00 - 09:00</th>
          <td>
            <a
              href="{% url 'pricing' %}"
              class="btn btn-sm btn-outline-light"
              role="button"
            >
              Book!
            </a>
          </td>
          <td>
            <a
              href="{% url 'pricing' %}"
              class="btn btn-sm btn-outline-light"
              role="button"
            >
              Book!
            </a>
          </td>
          <td>
            <a
              href="{% url 'pricing' %}"
              class="btn btn-sm btn-outline-light"
              role="button"
            >
              Book!
            </a>
          </td>
          <td>
            <a
              href="{% url 'pricing' %}"
              class="btn btn-sm btn-outline-light"
              role="button"
            >
              Book!
            </a>
          </td>
          <td>
            <a
              href="{% url 'pricing' %}"
              class="btn btn-sm btn-outline-light"
              role="button"
            >
              Book!
            </a>
          </td>
          <td>
            <a
              href="{% url 'pricing' %}"
              class="btn btn-sm btn-outline-light"
              role="button"
            >
              Book!
            </a>
          </td>
          <td>
            <a
              href="{% url 'pricing' %}"
              class="btn btn-sm btn-outline-light"
              role="button"
            >
              Book!
            </a>
          </td>
        </tr>
        <tr>
          <th scope="row">09:00 - 10:00</th>
          <td>
            <a
              href="{% url 'pricing' %}"
              class="btn btn-sm btn-outline-light"
              role="button"
            >
              Book!
            </a>
          </td>
          <td>
            <a
              href="{% url 'pricing' %}"
              class="btn btn-sm btn-outline-light"
              role="button"
            >
              Book!
            </a>
          </td>
          <td>
            <a
              href="{% url 'pricing' %}"
              class="btn btn-sm btn-outline-light"
              role="button"
            >
              Book!
            </a>
          </td>
          <td>
            <a
              href="{% url 'pricing' %}"
              class="btn btn-sm btn-outline-light"
              role="button"
            >
              Book!
            </a>
          </td>
          <td>
            <a
              href="{% url 'pricing' %}"
              class="btn btn-sm btn-outline-light"
              role="button"
            >
              Book!
            </a>
          </td>
          <td>
            <a
              href="{% url 'pricing' %}"
              class="btn btn-sm btn-outline-light"
              role="button"
            >
              Book!
            </a>
          </td>
          <td>
            <a
              href="{% url 'pricing' %}"
              class="btn btn-sm btn-outline-light"
              role="button"
            >
              Book!
            </a>
          </td>
        </tr>
        <tr>
          <th scope="row">11:00 - 12:00</th>
          <td>
            <a
              href="{% url 'pricing' %}"
              class="btn btn-sm btn-outline-light"
              role="button"
            >
              Book!
            </a>
          </td>
          <td>
            <a
              href="{% url 'pricing' %}"
              class="btn btn-sm btn-outline-light"
              role="button"
            >
              Book!
            </a>
          </td>
          <td>
            <a
              href="{% url 'pricing' %}"
              class="btn btn-sm btn-outline-light"
              role="button"
            >
              Book!
            </a>
          </td>
          <td>
            <a
              href="{% url 'pricing' %}"
              class="btn btn-sm btn-outline-light"
              role="button"
            >
              Book!
            </a>
          </td>
          <td>
            <a
              href="{% url 'pricing' %}"
              class="btn btn-sm btn-outline-light"
              role="button"
            >
              Book!
            </a>
          </td>
          <td>
            <a
              href="{% url 'pricing' %}"
              class="btn btn-sm btn-outline-light"
              role="button"
            >
              Book!
            </a>
          </td>
          <td>
            <a
              href="{% url 'pricing' %}"
              class="btn btn-sm btn-outline-light"
              role="button"
            >
              Book!
            </a>
          </td>
        </tr>
        <tr>
          <th scope="row">12:00 - 13:00</th>
          <td>
            <a
              href="{% url 'pricing' %}"
              class="btn btn-sm btn-outline-light"
              role="button"
            >
              Book!
            </a>
          </td>
          <td>
            <a
              href="{% url 'pricing' %}"
              class="btn btn-sm btn-outline-light"
              role="button"
            >
              Book!
            </a>
          </td>
          <td>
            <a
              href="{% url 'pricing' %}"
              class="btn btn-sm btn-outline-light"
              role="button"
            >
              Book!
            </a>
          </td>
          <td>
            <a
              href="{% url 'pricing' %}"
              class="btn btn-sm btn-outline-light"
              role="button"
            >
              Book!
            </a>
          </td>
          <td>
            <a
              href="{% url 'pricing' %}"
              class="btn btn-sm btn-outline-light"
              role="button"
            >
              Book!
            </a>
          </td>
          <td>
            <a
              href="{% url 'pricing' %}"
              class="btn btn-sm btn-outline-light"
              role="button"
            >
              Book!
            </a>
          </td>
          <td>
            <a
              href="{% url 'pricing' %}"
              class="btn btn-sm btn-outline-light"
              role="button"
            >
              Book!
            </a>
          </td>
        </tr>
        <tr>
          <th scope="row">13:00 - 14:00</th>
          <td>
            <a
              href="{% url 'pricing' %}"
              class="btn btn-sm btn-outline-light"
              role="button"
            >
              Book!
            </a>
          </td>
          <td>
            <a
              href="{% url 'pricing' %}"
              class="btn btn-sm btn-outline-light"
              role="button"
            >
              Book!
            </a>
          </td>
          <td>
            <a
              href="{% url 'pricing' %}"
              class="btn btn-sm btn-outline-light"
              role="button"
            >
              Book!
            </a>
          </td>
          <td>
            <a
              href="{% url 'pricing' %}"
              class="btn btn-sm btn-outline-light"
              role="button"
            >
              Book!
            </a>
          </td>
          <td>
            <a
              href="{% url 'pricing' %}"
              class="btn btn-sm btn-outline-light"
              role="button"
            >
              Book!
            </a>
          </td>
          <td>
            <a
              href="{% url 'pricing' %}"
              class="btn btn-sm btn-outline-light"
              role="button"
            >
              Book!
            </a>
          </td>
          <td>
            <a
              href="{% url 'pricing' %}"
              class="btn btn-sm btn-outline-light"
              role="button"
            >
              Book!
            </a>
          </td>
        </tr>
        <tr>
          <th scope="row">14:00 - 15:00</th>
          <td>
            <a
              href="{% url 'pricing' %}"
              class="btn btn-sm btn-outline-light"
              role="button"
            >
              Book!
            </a>
          </td>
          <td>
            <a
              href="{% url 'pricing' %}"
              class="btn btn-sm btn-outline-light"
              role="button"
            >
              Book!
            </a>
          </td>
          <td>
            <a
              href="{% url 'pricing' %}"
              class="btn btn-sm btn-outline-light"
              role="button"
            >
              Book!
            </a>
          </td>
          <td>
            <a
              href="{% url 'pricing' %}"
              class="btn btn-sm btn-outline-light"
              role="button"
            >
              Book!
            </a>
          </td>
          <td>
            <a
              href="{% url 'pricing' %}"
              class="btn btn-sm btn-outline-light"
              role="button"
            >
              Book!
            </a>
          </td>
          <td>
            <a
              href="{% url 'pricing' %}"
              class="btn btn-sm btn-outline-light"
              role="button"
            >
              Book!
            </a>
          </td>
          <td>
            <a
              href="{% url 'pricing' %}"
              class="btn btn-sm btn-outline-light"
              role="button"
            >
              Book!
            </a>
          </td>
        </tr>
        <tr>
          <th scope="row">15:00 - 16:00</th>
          <td>
            <a
              href="{% url 'pricing' %}"
              class="btn btn-sm btn-outline-light"
              role="button"
            >
              Book!
            </a>
          </td>
          <td>
            <a
              href="{% url 'pricing' %}"
              class="btn btn-sm btn-outline-light"
              role="button"
            >
              Book!
            </a>
          </td>
          <td>
            <a
              href="{% url 'pricing' %}"
              class="btn btn-sm btn-outline-light"
              role="button"
            >
              Book!
            </a>
          </td>
          <td>
            <a
              href="{% url 'pricing' %}"
              class="btn btn-sm btn-outline-light"
              role="button"
            >
              Book!
            </a>
          </td>
          <td>
            <a
              href="{% url 'pricing' %}"
              class="btn btn-sm btn-outline-light"
              role="button"
            >
              Book!
            </a>
          </td>
          <td>
            <a
              href="{% url 'pricing' %}"
              class="btn btn-sm btn-outline-light"
              role="button"
            >
              Book!
            </a>
          </td>
          <td>
            <a
              href="{% url 'pricing' %}"
              class="btn btn-sm btn-outline-light"
              role="button"
            >
              Book!
            </a>
          </td>
        </tr>
        <tr>
          <th scope="row">16:00 - 17:00</th>
          <td>
            <a
              href="{% url 'pricing' %}"
              class="btn btn-sm btn-outline-light"
              role="button"
            >
              Book!
            </a>
          </td>
          <td>
            <a
              href="{% url 'pricing' %}"
              class="btn btn-sm btn-outline-light"
              role="button"
            >
              Book!
            </a>
          </td>
          <td>
            <a
              href="{% url 'pricing' %}"
              class="btn btn-sm btn-outline-light"
              role="button"
            >
              Book!
            </a>
          </td>
          <td>
            <a
              href="{% url 'pricing' %}"
              class="btn btn-sm btn-outline-light"
              role="button"
            >
              Book!
            </a>
          </td>
          <td>
            <a
              href="{% url 'pricing' %}"
              class="btn btn-sm btn-outline-light"
              role="button"
            >
              Book!
            </a>
          </td>
          <td>
            <a
              href="{% url 'pricing' %}"
              class="btn btn-sm btn-outline-light"
              role="button"
            >
              Book!
            </a>
          </td>
          <td>
            <a
              href="{% url 'pricing' %}"
              class="btn btn-sm btn-outline-light"
              role="button"
            >
              Book!
            </a>
          </td>
        </tr>
        <tr>
          <th scope="row">17:00 - 18:00</th>
          <td>
            <a
              href="{% url 'pricing' %}"
              class="btn btn-sm btn-outline-light"
              role="button"
            >
              Book!
            </a>
          </td>
          <td>
            <a
              href="{% url 'pricing' %}"
              class="btn btn-sm btn-outline-light"
              role="button"
            >
              Book!
            </a>
          </td>
          <td>
            <a
              href="{% url 'pricing' %}"
              class="btn btn-sm btn-outline-light"
              role="button"
            >
              Book!
            </a>
          </td>
          <td>
            <a
              href="{% url 'pricing' %}"
              class="btn btn-sm btn-outline-light"
              role="button"
            >
              Book!
            </a>
          </td>
          <td>
            <a
              href="{% url 'pricing' %}"
              class="btn btn-sm btn-outline-light"
              role="button"
            >
              Book!
            </a>
          </td>
          <td>
            <a
              href="{% url 'pricing' %}"
              class="btn btn-sm btn-outline-light"
              role="button"
            >
              Book!
            </a>
          </td>
          <td>
            <a
              href="{% url 'pricing' %}"
              class="btn btn-sm btn-outline-light"
              role="button"
            >
              Book!
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}
