{% extends 'ugas_pilates/base.html' %} {% load static %} {% block content %}
<div id="terms" class="">
  <h2 class="text-center my-4 display-4">Terms of Service</h1>
  <div class="container-md">
    <h6>Introduction:</h6>
    <p>
      "Welcome to Uga's Pilates. These Terms of Service govern your use of our
      Pilates classes, workshops, and other services."
    </p>

    <h6>Acceptance of Terms:</h6>
    <p>
      "By accessing or using our services, you agree to comply with and be bound
      by these terms."
    </p>

    <h6>Services Provided:</h6>
    <p>
      "We offer a range of Pilates classes, private sessions, and workshops.
      Class schedules are subject to change without notice."
    </p>

    <h6>Membership and Fees:</h6>
    <p>
      "Memberships are available on a monthly or annual basis. Fees are payable
      in advance. We accept cash and electronic payments. Memberships may be
      cancelled with 30 days' notice."
    </p>

    <h6>Class Reservations and Cancellations:</h6>
    <p>
      "Reservations are required for all classes. Cancellations must be made at
      least 24 hours in advance to avoid a late cancellation fee. No-shows will
      be charged the full class fee."
    </p>

    <h6>Health and Safety:</h6>
    <p>
      "Participants should consult with their physician before starting any
      fitness program. By participating in our classes, you acknowledge that you
      do so at your own risk and waive any claim against Uga's Pilates for
      injury or harm."
    </p>

    <h6>User Conduct:</h6>
    <p>
      "Please arrive on time for classes and maintain a respectful environment.
      Disruptive behavior will not be tolerated. Participants must bring their
      own towels and clean their equipment after use."
    </p>

    <h6>Privacy Policy:</h6>
    <p>
      "We collect personal information to provide our services. Please refer to
      our full Privacy Policy for more details on how we handle your
      information."
    </p>

    <h6>Intellectual Property:</h6>
    <p>
      "All content provided by Uga's Pilates, including videos and instructional
      materials, is owned by us and may not be reproduced without our
      permission."
    </p>

    <h6>Dispute Resolution:</h6>
    <p>
      "Any disputes arising from these terms or our services will be resolved
      through binding arbitration in Vlaanderen. These terms are governed by the
      laws of Belgium."
    </p>

    <h6>Modifications to Terms:</h6>
    <p>
      "We reserve the right to modify these terms at any time. Changes will be
      posted on our website and will take effect immediately."
    </p>

    <h6>Contact Information:</h6>
    <p>
      "For any questions or concerns about these terms, please contact us at
      <a href="mailto: ugana82@yahoo.de">ugana@uganaspilates.com</a>
      or (+32)470128513."
    </p>
  </div>
</div>
{% endblock content %}
