{% extends 'ugas_pilates/base.html' %}
{% load static %}

{% block content %}
  <div id="testimonials" class="padding main-content py-5 my-5">
    <h1 class="text-center mt-5 display-1">Hear from our <strong>hard core</strong> customers!</h1>

    <div class="mt-5">
      <section class="bg-light text-center" id="quotes">
        <div class="quote">
          <img src="{% static 'ugas_pilates/images/star-fill.svg' %}" alt="Review score">
          <img src="{% static 'ugas_pilates/images/star-fill.svg' %}" alt="Review score">
          <img src="{% static 'ugas_pilates/images/star-fill.svg' %}" alt="Review score">
          <img src="{% static 'ugas_pilates/images/star-fill.svg' %}" alt="Review score">
          <img src="{% static 'ugas_pilates/images/star-fill.svg' %}" alt="Review score">
          <p class="lead">"Awesome all over!"</p>
          <p class="">"Ugana is the best instructor ever! And the studio is the most tranquil place in the vicinity of Antwerp."</p>
          <p class="text-end me-5"><strong>Martijn Nieuwland</strong>
            <br><small>Pilates enthusiast</small></p>
        </div>
        <div class="quote">
          <img src="{% static 'ugas_pilates/images/star-fill.svg' %}" alt="Review score">
          <img src="{% static 'ugas_pilates/images/star-fill.svg' %}" alt="Review score">
          <img src="{% static 'ugas_pilates/images/star-fill.svg' %}" alt="Review score">
          <img src="{% static 'ugas_pilates/images/star-fill.svg' %}" alt="Review score">
          <img src="{% static 'ugas_pilates/images/star-fill.svg' %}" alt="Review score">
          <p class="lead">"This is just an awesome place to come do pilates!"</p>
          <p class="">"No better place to do pilates. I did the preperation for my teacher training here."</p>
          <p class="text-end me-5"><strong>Anu Nieuwland</strong>
            <br><small>Future pilates instructor</small></p>
        </div>
        <div class="quote">
          <img src="{% static 'ugas_pilates/images/star-fill.svg' %}" alt="Review score">
          <img src="{% static 'ugas_pilates/images/star-fill.svg' %}" alt="Review score">
          <img src="{% static 'ugas_pilates/images/star-fill.svg' %}" alt="Review score">
          <img src="{% static 'ugas_pilates/images/star-fill.svg' %}" alt="Review score">
          <img src="{% static 'ugas_pilates/images/star-fill.svg' %}" alt="Review score">
          <p class="lead">"Quote title!!!"</p>
          <p class="">"This is the main text of the quote."</p>
          <p class="text-end me-5"><strong>FirstName LastName</strong>
            <br><small>Relation to Uga's pilates</small></p>
        </div>
      </section>

      <section class="" id="videos">This section will contain video testimonials.</section>
      <section class="bg-light" id="audios">This section will contain audio testimonials.</section>
      <section class="" id="cases">This section will contain case testimonials.</section>
      <section class="bg-light" id="socials">This section will contain social testimonials.</section>
      <section class="" id="interviews">This section will contain interview testimonials.</section>
      <section class="bg-light" id="authorities">This section will contain authoritie testimonials.</section>
      <section class="" id="peers">This section will contain peer testimonials.</section>
      <section class="bg-light" id="blogs">This section will contain blog testimonials.</section>
      <section class="" id="press">This section will contain pres testimonials.</section>
    </div>
  </div>
{% endblock %}
