{% extends 'ugas_pilates/base.html' %}
{% load static %}

{% block content %}
<div id="testimonials" class="padding main-content p-5 m-5">
  <h1 class="text-center">Testimonials page</h1>

  <div class="container text-center mt-5">
    <div class="row justify-content-center">
      <div class="col-12 col-md-3 p-3 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'ugas_pilates/images/nirun.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">True pilates is the best pilates studio ever! And Ugana is the best instructor ever!
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3 p-3 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'ugas_pilates/images/nirun.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">True pilates is the best pilates studio ever! And Ugana is the best instructor ever!
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3 p-3 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'ugas_pilates/images/nirun.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">True pilates is the best pilates studio ever! And Ugana is the best instructor ever!
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3 p-3 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'ugas_pilates/images/nirun.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">True pilates is the best pilates studio ever! And Ugana is the best instructor ever!
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-md-3 p-3 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'ugas_pilates/images/nirun.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">True pilates is the best pilates studio ever! And Ugana is the best instructor ever!
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3 p-3 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'ugas_pilates/images/nirun.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">True pilates is the best pilates studio ever! And Ugana is the best instructor ever!
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3 p-3 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'ugas_pilates/images/nirun.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">True pilates is the best pilates studio ever! And Ugana is the best instructor ever!
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3 p-3 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'ugas_pilates/images/nirun.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">True pilates is the best pilates studio ever! And Ugana is the best instructor ever!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
