html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #000;
}

/* navbar styling */
.navbar,
.navbar-brand {
  font-size: 1.1em;
  font-weight: 600;
  background-color: #000;
}

/* background styling */
#main {
  background: url(images/pilates-pictures.jpg) no-repeat center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: cover;
  color: #fff;
}

.main-content {
  position: relative;
  z-index: 3;
  /* Ensure main content stays above the carousel */
}

/* main content styling */
.landing {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/* keep the image inside the containers */
.padding img {
  width: 100%;
}

#about {
  background-color: #fff;
  width: 100%;
}

/* fixed scrolling image effect */
#fixed {
  width: 100%;
  height: 60%;
  background-size: cover;
  z-index: 1;
  /* Lower z-index to stay behind main content */
}

.carousel-inner img {
  height: 100%;
  object-fit: cover;
}

/* footer styling */
footer {
  padding: 5% 5%;
  color: #fff;
  background-color: #000;
  font-size: 0.8em;
  position: relative;
  z-index: 2;
  /* Ensure footer stays above the carousel */
}
