{% extends 'ugas_pilates/base.html' %}
{% load static %}

{% block page_title %}{{title}} | {{heading}} | {{ seo }} | {% endblock page_title %}

{% block content %}
<div id="blog">
<h2 class="display-2 text-center my-4">{{heading}}</h2>
<div class="container-md">

  <h6 class="display-6 text-center">Stories of all things pilates.</h6>
  <div class="row">
    {% for post in posts %}
    <div class="col-12 col-sm-6 col-lg-4 col-xxl-3">
      <div class="card m-4">
        <img
          src="{% static 'ugas_pilates/images/pilates-pictures3.jpg/'%}"
          class="card-img-top"
          alt="Blog story image"
        />
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text text-muted small">{{ post.published }}</p>
          <p class="card-text">{{ post.text|truncatechars:70 }}</p>
          <a href="{% url 'blog:detail' post.id %}" class="btn btn-outline-primary">
            Read More
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
</div>
{% endblock content %}
