html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #000;
  background-color: #fff;
}

/* navbar styling */
.navbar,
.navbar-brand {
  font-size: 1.1em;
  font-weight: 600;
  background-color: #06491d;
}

/* background styling */
#main {
  background: url('../images/pilates-pictures.jpg') no-repeat center center fixed;
  background-size: cover; /* This ensures the image covers the entire area */
  height: 100vh; /* This sets the height to 100% of the viewport height */
  width: 100%;
  position: relative;
  color: #350c09;
  display: flex; /* Using flexbox to center content if needed */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

.main-content {
  position: relative;
  /* Ensure main content stays above the carousel */
  z-index: 3;
}

/* main content styling */
.landing {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/* keep the image inside the containers */
.padding img {
  width: 100%;
}

#about {
  background-color: #fff;
  width: 100%;
}

/* fixed scrolling image effect */
#fixed {
  width: 100%;
  height: 60%;
  z-index: 1;
  /* Lower z-index to stay behind main content */
}

.carousel-inner img {
  height: 100%;
  object-fit: cover;
}

/* footer styling */
footer {
  padding: 5% 5%;
  color: #fff;
  background-color: #06491d;
  font-size: 0.8em;
  position: fixed bottom;
  z-index: 2;
  /* Ensure footer stays above the carousel */
}

a {
  color: #52b58f;
  text-decoration: none;
}

a:hover {
  color: #dabf95;
  text-decoration: none;
}

a::after {
  color: #350c09;
}
