{% extends 'base.html' %}
{% load static %}

{% block page_title %}{{title}} | {{heading}} | {{ seo }} | {% endblock page_title %}

{% block content %}
<div id="pricing" class="pb-5">
  <h2 class="text-center my-4 display-2">{{ heading }}</h2>

  <div class="container-md">
    <div class="row gx-5 gy-3">
      {% for list in pricelists %}
      <div id="solo" class="col col-12 col-lg-6">
        <h6 class="display-6">{{ list.category }}</h6>
        {% for item in list.items.all %}
        <table class="table">
          <tbody>
            <tr>
              <td>{{ item.name }}</td>
              <td class="text-end">€ {{ item.price }}</td>
            </tr>
              </tbody>
            </table>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
    <div class="d-grid gap-2 mx-auto my-5">
      <a href="{% url 'pages:contact' %}" class="btn btn-primary" role="button">
        Book a Session
      </a>
    </div>
  </div>
</div>
{% endblock content %}
