{% extends 'base.html' %}
{% load static %}

{% block page_title %}{{title}} | {{heading}} | {{ seo }} | {% endblock page_title %}

{% block content %}
<div id="studio" class="pb-5">
  <h2 class="display-2 text-center my-4">{{ heading }}</h2>

  <div class="container-md">
    <div class="row">
      <div class="clearfix">
        <img
          class="col-12 col-md-6 float-md-end ms-md-3 mb-3 rounded"
          src="{% static 'images/studio.jpg' %}"
          alt="The studio"
        />

        <h3>Welcome to Uga's Pilates Studio</h3>
        <div>
          <p class="lead">
            Nestled in the tranquil surroundings of Brasschaat, just a stone's
            throw away from Antwerp, Uga's Pilates Studio offers a peaceful and
            serene atmosphere that we believe you'll love. Our studio is
            designed to be a sanctuary away from the hustle and bustle of daily
            life, providing you with a perfect environment to focus on your
            wellness journey.
          </p>
          <h3>Our Mission</h3>
          <p>
            At Uga's Pilates Studio, our mission is to create a nurturing space
            where individuals can improve their physical health, mental
            well-being, and overall quality of life through the practice of
            Pilates. We are dedicated to helping you achieve your personal
            fitness goals in a supportive and welcoming atmosphere.
          </p>

          <h3>Why Choose Us</h3>
          <ul>
            <p>
              <b>Prime Location</b>
              : Conveniently located in Brasschaat, our studio is easily
              accessible for those in Antwerp and the surrounding areas.
              <br />
              <b>Serene Atmosphere</b>
              : Enjoy your Pilates sessions in a calm and peaceful environment
              that promotes relaxation and focus.
              <br />
              <b>Expert Instruction</b>
              : Our highly trained instructors are passionate about Pilates and
              committed to guiding you through safe and effective workouts.
            </p>
          </ul>
          <br />

          <h3>Visit Us</h3>
          <p>
            Experience the unique charm of Uga's Pilates Studio and discover the
            benefits of Pilates in a setting designed for your comfort and
            well-being. We look forward to welcoming you to our studio and
            supporting you on your path to better health.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
